<a class="post-preview" href="{{ post.url | relative_url }}">

  <div class="post-preview-image">
    <span style="background-image: url({{ post.image | relative_url }})" ></span>
  </div>

  <div class="post-preview-text">
    <h2 class="post-preview-title">
      {{ post.title | escape }}
    </h2>

    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <div class="post-preview-date">
      {{ post.date | date: date_format }}
    </div>

    {%- if post.tagline -%}
      <div class="post-preview-tagline">
        {{ post.tagline }}
      </div>
    {%- endif -%}

  </div>

</a>
