<div class="sidebar">

  {%- if site.author_picture -%}
    <a href="/">
      <img src="{{ site.author_picture | relative_url }}" class="sidebar-profile-picture" />
    </a>
  {%- endif -%}

  <h1 class="sidebar-name">{{ site.author }}</h1>

  {%- if site.author_title -%}
    <h2 class="sidebar-title">{{ site.author_title }}</h2>
  {%- endif -%}

  {%- if site.sidebar_sections -%}
    {%- for section in site.sidebar_sections -%}
      <div class="sidebar-section">
        <h4>{{ section.title }}</h2>
        <p>{{ section.text }}</p>
      </div>
    {%- endfor -%}
  {%- endif -%}

</div>
