/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  line-height: 150%;
}

body {
  background: linear-gradient(to left, #1d5c94, #032b56);
  background: linear-gradient(to right, #EEE, #FFF);
}

a, a:hover, a:active, a:focus, a:visited {
  color: #777;
}

.container {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 250px;
  background-color: #FFF;
  padding: 25px;
  border-right: 1px solid #EEE;
  box-sizing: border-box;
  background-color: #FFF;
  color: #333;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
}

.sidebar-image {
  background: grey;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #3B5998;
}

.sidebar-name {
  font-size: 20px;
  margin-top: 20px;
  font-family: 'PT Serif';
  color: #3B5998;
}

.sidebar-title {
  font-size: 14px;
  color: #777;
}

.sidebar-section {
  text-align: left;
  margin-top: 25px;
  color: #3B5998;
  > p {
    color: #777;
  }
}

.main {
  padding-left: 270px;
  padding-right: 20px;
  max-width: 1250px;
  box-sizing: border-box;
}





.header {

}

.nav {
  padding: 20px 0 40px 0;
}

.nav-icon {
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: #3B5998 !important;
  font-size: 24px;
  font-weight: bold;
  margin-right: 40px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
}

.nav-link-active {
  border-bottom: 4px solid #3B5998;
}




.content {

}


.post {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  margin-bottom: 25px;
  border-radius: 10px;
  border: 1px solid #DDD;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  transition: all .3s ease;
}

.post:hover {
  transform: translate(0px, -2px);
  box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
}


.post-text {
  flex: 1;
  padding: 10px;
}

.post-image {
  width: 25%;
  > span {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.post-title {
  color: #3B5998;
  font-size: 24px;
  font-weight: bold;
}

.post-date {
  font-size: 12px;
  margin: 10px 0;
}

.post-excerpt {
}
