/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  line-height: 150%;
  font-size: 16px;
}

body {
  background: linear-gradient(to left, #1d5c94, #032b56);
  background: linear-gradient(to right, #EEE, #FFF);
}

/*
a, a:hover, a:active, a:focus, a:visited {
  color: #777;
}
*/

.container {
  position: relative;
}

.main {
  padding-left: 290px;
  padding-right: 20px;
  max-width: 1200px;
  box-sizing: border-box;
}
