.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 250px;
  background-color: #FFF;
  padding: 25px;
  border-right: 1px solid #EEE;
  box-sizing: border-box;
  background-color: #FFF;
  color: #333;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
}

.sidebar-image {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  padding: 5px;
  border: 2px solid #DDD;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  transition: all .3s ease;
}

.sidebar-image:hover {
  transform: translate(0px, -2px);
  box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
}

.sidebar-name {
  font-size: 20px;
  margin-top: 20px;
  font-family: 'PT Serif';
  color: #3B5998;
}

.sidebar-title {
  font-size: 14px;
  color: #777;
}

.sidebar-section {
  text-align: left;
  margin-top: 25px;
  color: #3B5998;
  > p {
    color: #777;
  }
}
