.timeline {
  margin-bottom: 48px;

  .section {
    position: relative;
    border-left: 2px solid #3B5998;
    padding-left: 64px;
    padding-bottom: 48px;
    margin-left: 16px;
  }

  .section:last-child {
    padding-bottom: 0;
  }

  .bubble {
    position: absolute;
    top: 0;
    left: -16px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #3B5998;
  }

  .crossline {
    position: absolute;
    bottom: 0;
    left: -11px;
    width: 20px;
    height: 2px;
    background-color: #3B5998;
  }

  h1 {
    color: #3B5998;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  h1:first-child {
    margin-top: 0;
  }


  h2 {
    color: #3B5998;
    font-size: 24px;
    font-weight: bold;
    line-height: 125%;
  }

  h3 {
    font-size: 16px;
    color: #777;
    font-weight: bold;
  }

  .date {
    font-size: 16px;
    color: #777;
  }

  .link {
    color: #3B5998;
    text-decoration: underline;
    display: inline-block;
  }

  .description {
    margin: 16px 0;
    list-style: circle inside none;
  }

  .tags {
    span {
      font-size: 12px;
      font-weight: normal;
      background-color: #999;
      color: #FFF;
      margin-right: 5px;
      padding: 3px 10px;
      border-radius: 24px;
    }

  }

}
