---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <h2 class="post-tagline" itemprop="alternativeHeadline">{{ page.tagline | escape }}</h2>

    <div class="post-image">
      <span style="background-image: url({{ page.image | relative_url }})" ></span>
    </div>

    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if site.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ site.author }}</span>
          </span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-end"></div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

</article>
